.container{ 
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #d6dbdf;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #fff;
  width: 400px;
  height: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.box > h1 {
  text-align: center;
}
.box > input, .box > select, .box > button {
  margin-top: 15px;
  padding: 5px;
}
.box > button {
  cursor: pointer;
  background-color: #3498DB;
  border: none;
  border-radius: 5px;
}